/* Customize your main colors in :root variables */
:root {
    --main-background-color: #f07b3c;
    --card-background-color: #252525;
    --countdown-background-color: #252525;
    --main-text-color: #f7f6f4;
    --title-text-color: #f07b3c;
}

body{
/*  background-color:var(--main-background-color); */
   background-image: url('./img/background.png');
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



